openapi: 3.0.3
info:
  title: AppSumo Licensing Licenses Profile API
  description: The AppSumo Licensing API enables software partners selling on the AppSumo marketplace to programmatically manage licenses for their customers. Partners can retrieve license details, validate activations, and manage license states via REST endpoints authenticated with an API key.
  version: 2.0.0
  contact:
    name: AppSumo Partner Support
    url: https://docs.licensing.appsumo.com
  license:
    name: Proprietary
servers:
- url: https://appsumo.com/api/v2
  description: AppSumo Licensing API v2
security:
- apiKeyAuth: []
tags:
- name: Profile
  description: Partner profile management
paths:
  /profile:
    get:
      operationId: getPartnerProfile
      summary: AppSumo - Get Partner Profile
      description: Returns the partner profile information for the authenticated API key
      tags:
      - Profile
      responses:
        '200':
          description: Partner profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerProfile'
              examples:
                GetProfileExample:
                  x-microcks-default: true
                  summary: Example partner profile response
                  value:
                    partnerId: partner-001
                    productSlug: my-saas-tool
                    productName: My SaaS Tool
                    webhookUrl: https://myapp.com/webhooks/appsumo
        '401':
          description: Unauthorized - invalid or missing API key
components:
  schemas:
    PartnerProfile:
      title: PartnerProfile
      description: AppSumo marketplace partner profile
      type: object
      properties:
        partnerId:
          type: string
          description: Unique partner identifier
        productSlug:
          type: string
          description: Partner product slug on AppSumo
        productName:
          type: string
          description: Partner product display name
        webhookUrl:
          type: string
          description: Webhook URL for license event notifications
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-AppSumo-API-Key
